{% extends "base.html" %}
{% block title %}
      Tipos de Items
{% endblock %}

{% block menu1 %}

{% endblock %}

{% block menu2 %}
    <img src='/static/images/Add.png' width='24' height='24'><a href="/items/tipoItem/crear/">  Nuevo Tipo de Item</a><br><br>
        <img src='/static/images/Add.png' width='24' height='24'><a href="/items/tipoItem/definir/">  Agregar Atributos </a><br><br>
{% endblock %}

{% block contenido %}
        <table id="tablaDatos">
            <tr>
                <td class='title' style='background-color:rgba(26, 108, 122, 1); font-size: 18px; font-weight: bold ; color: #FFF;text-align: center;'> Tipo de Item</td>
                <td class='title' style='background-color:rgba(26, 108, 122, 1); font-size: 18px; font-weight: bold ; color: #FFF;text-align: center;'> Acción</td>
            </tr>
             {% for t in tipos %}
                <tr>
                    <th>{{t.nombre}}</th>
                    <th>
                        <a href='/items/tipoItem/mostrar/{{t.id}}'><img src='/static/images/Detalles.png' width='24' height='24'></a>
                        <a href='/items/tipoItem/modificar/{{t.id}}'><img src='/static/images/Edit.png' width='24' height='24'></a>
                        <a href='/items/tipoItem/eliminar/{{t.id}}'><img src='/static/images/Delete.png' width='24' height='24'></a>
                    </th>
                </tr>
             {% endfor %}
        </table><br>
 {% endblock %}