{% extends "base.html" %}
{% block title %}
      Iniciar Proyecto
{% endblock %}

{% block menu1 %}

{% endblock %}



{% block menu2 %}
     <ul>
        <li><a href="/proyectos/listar/">Listar Proyectos</a></li>
		<li><a href="/proyectos/crear/">Nuevo Proyecto</a></li>
        <li><a href="/proyectos/noIniciados/">Iniciar Proyecto</a></li>
     </ul>

{% endblock %}

{% block contenido %}
     <ul>
         {% for project in proyectos %}
            <h1>{{project.nombre}}</h1>
            <li><b>Fecha de Inicio: </b>{{project.fechaInicio}}</li>
            <li><b>Cantidad de Fases: </b>{{project.cantFases}}</li>
            <li><b>Estado: </b>{{project.estado}}</li>
            <a href="/proyectos/iniciar/{{project.id}}">Iniciar</a>
         {% endfor %}
     </ul>

{% endblock %}