{% extends "base.html" %}
{% block title %}
      Lista de Proyectos
{% endblock %}

{% block menu1 %}

{% endblock %}

{% block menu2 %}
        <img src='/static/images/Detalles.png' width='24' height='24'><a href="/proyectos/listar/">  Listar Proyectos</a><br><br>
		<img src='/static/images/Add.png' width='24' height='24'><a href="/proyectos/crear/">  Nuevo Proyecto</a><br><br>
        <br><br>
    {% if seFinalizo == True %}
        <script language="JavaScript" type="text/javascript">
                alert("En hora buena!.\nSe ha finalizado el proyecto\n{{proyecto.nombre}}")
        </script>
    {% endif %}

{% endblock %}

{% block contenido %}
<h1>Filtro</h1>
<select onchange="inicio(this.value);">
    <option>Seleccione el Filtro</option>
    <option value="creado">No iniciados</option>
    <option value="activo">Activos</option>
    <option value="eliminado">Eliminados</option>
    <option value="finalizado">Finalizados</option>
</select>
<div id="datos">

</div>
{% endblock %}

{% block js %}
<script>
    function inicio(valor){
        $.ajax({
          data : {'estado' : valor},
          url : '/proyectos/listar_ajax/',
          type : 'get',
          success : function(data){
            var html="";
            var html="<br><table id='tablaDatos' border='0' cellpadding='0' cellspacing='0'> <tbody>";
                html+="<tr>";
                html+="<td class='title' style='background-color:rgba(26, 108, 122, 1); font-size: 18px; font-weight: bold ; color: #FFF;text-align: center;'> Proyecto </td>";
                html+="<td class='title' style='background-color:rgba(26, 108, 122, 1); font-size: 18px; font-weight: bold ; color: #FFF;text-align: center;'> Cant. Fases </td>";
                html+="<td class='title' style='background-color:rgba(26, 108, 122, 1); font-size: 18px; font-weight: bold ; color: #FFF;text-align: center;'> Acciones </td>";
                html+="</tr>";
            for(i=0;i<data.length;i++){
                if(i%2==0){
                    html+="<tr>";
                    html+="<td style='vertical-align: top;'>" + data[i].fields.nombre + "</td>";
                    html+="<td style='vertical-align: top;'>" + data[i].fields.cantFases + "</td>";
                    html+="<td style='vertical-align: top;'>"
                    if(valor!='eliminado'){
                        if(valor=='creado'){
                            html+="<a href='/proyectos/modificar/" + data[i].pk + "'><img src='/static/images/Edit.png' width='24' height='24'></a>";
                            html+="<a href='/fases/crearEnProyecto/" + data[i].pk + "'><img src='/static/images/Add.png' width='24' height='24'></a>";
                        }
                        html+="<a href='/proyectos/detalles/" + data[i].pk + "'><img src='/static/images/Resumen.png' width='24' height='24'></a>";
                    if(valor!='finalizado'){
                        html+=" <a href='/proyectos/eliminar/" + data[i].pk + "'><img src='/static/images/Delete.png' width='24' height='24'></a>";
                    }
                    }else{
                        html+="Ninguna Accion";
                    }
                    html+="</td>";
                    html+="</tr>";
                }else{
                    html+="<tr>";
                    html+="<th style='vertical-align: top;'>" + data[i].fields.nombre + "</th>";
                    html+="<th style='vertical-align: top;'>" + data[i].fields.cantFases + "</th>";
                    html+="<th style='vertical-align: top;'>"
                    if(valor!='eliminado'){
                        if(valor=='creado'){
                            html+="<a href='/proyectos/modificar/" + data[i].pk + "'><img src='/static/images/Edit.png' width='24' height='24'></a>";
                            html+="<a href='/fases/crearEnProyecto/" + data[i].pk + "'><img src='/static/images/Add.png' width='24' height='24'></a>";
                        }
                        html+="<a href='/proyectos/detalles/" + data[i].pk + "'><img src='/static/images/Resumen.png' width='24' height='24'></a>";
                        if(valor!='finalizado'){
                            html+=" <a href='/proyectos/eliminar/" + data[i].pk + "'><img src='/static/images/Delete.png' width='24' height='24'></a>";
                        }
                    }else{
                        html+="Ninguna Accion";
                    }
                    html+="</th>";
                    html+="</tr>";
                }
            }
            html+="</tbody></table><br>";
            $('#datos').html(html);
          }
        });
    }

</script>
{% endblock %}

