{% extends "base.html" %}
{% block title %}
      Actualizar Proyecto
{% endblock %}

{% block menu1 %}
{% endblock %}

{% block menu2 %}
     <ul>
        <li><a href="/proyectos/listar/">Listar Proyectos</a></li>
		<li><a href="/proyectos/crear/">Nuevo Proyecto</a></li>
        <li><a href="/proyectos/noIniciados/">Iniciar Proyecto</a></li>
     </ul>

{% endblock %}

{% block contenido %}
      <h1>Altualizar Proyectos</h1>
        <form method="post">{% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Actualizar">
        </form>
{% endblock %}