{% extends "base.html" %}
{% block title %}
      Lista de Proyectos
{% endblock %}

{% block menu1 %}

{% endblock %}

{% block menu2 %}
        <img src='/static/images/Detalles.png' width='24' height='24'><a href="/proyectos/listar/">  Listar Proyectos</a><br><br>
		<img src='/static/images/Add.png' width='24' height='24'><a href="/proyectos/crear/">  Nuevo Proyecto</a><br><br>
        <img src='/static/images/star.png' width='24' height='24'><a href="/proyectos/noIniciados/">  Iniciar Proyecto</a><br><br>

        <br><br>


{% endblock %}

{% block contenido %}
     <ul>
         {% for project in proyectos %}
            <h1>{{project.nombre}}</h1>
            <li><b>Fecha de Inicio: </b>{{project.fechaInicio}}</li>
            <li><b>Cantidad de Fases: </b>{{project.cantFases}}</li>
            <li><b>Estado: </b>{{project.estado}}</li>
            <a href="/proyectos/modificar/{{project.id}}">Modificar</a>
            <a href="/proyectos/eliminar/{{project.id}}">Eliminar</a>
         {% endfor %}
     </ul>

{% endblock %}