{% extends "base.html" %}

{% block title %}
Bienvenido
{% endblock %}


{% block menu1 %}
<li><a href="#"> Bienvenido {{user.first_name}} {{user.last_name}}</a></li>
{% endblock %}

{% block menu2 %}


{% endblock %}


{% block contenido %}
    <table style="text-align: center; width: 100%;" border="0" cellpadding="0"
cellspacing="0">
<tbody>
<tr>
<td style="vertical-align: top;">
    <a href="/proyectos/admin/">
        <img style="width: 64px; height: 64px;" alt="" src="{{STATIC_URL}}images/Proyecto.png"><br><br>
    </a>

</td>
<td style="vertical-align: top;">
    <a href="/items/tipoItem/listar/">
        <img style="width: 64px; height: 64px;" alt="" src="{{STATIC_URL}}images/item.png"><br><br>
    </a>
</td>
<td style="vertical-align: top;">
    <a href="#">
        <img style="width: 64px; height: 64px;" alt="" src="{{STATIC_URL}}images/relacion.png"><br><br>
    </a>
</td>
</tr>
<tr>
<td style="vertical-align: top;">Gestión de Proyectos<br><br><br><br>
</td>
<td style="vertical-align: top;">Admin Tipos de Items<br><br><br><br>
</td>
<td style="vertical-align: top;">Módulo<br><br><br><br>
</td>
</tr>




<tr>
<td style="vertical-align: top;">
    <a href="/modificar/{{user.id}}">
        <img style="width: 64px; height: 64px;" alt="" src="{{STATIC_URL}}images/Usuario.png"><br><br>
    </a>

</td>
<td style="vertical-align: top;">
    <a href="/permisos/admin/">
        <img style="width: 64px; height: 64px;" alt="" src="{{STATIC_URL}}images/Permisos.png"><br><br>
    </a>

</td>
<td style="vertical-align: top;">
    <a href="/Grupos/admin/">
        <img style="width: 64px; height: 64px;" alt="" src="{{STATIC_URL}}images/Grupo.png"><br><br>
    </a>

</td>
</tr>
<tr>
<td style="vertical-align: top;">Gestión de Usuario<br><br><br><br>
</td>
<td style="vertical-align: top;">Gestión de Permisos<br><br><br><br>
</td>
<td style="vertical-align: top;">Gestión de Grupos<br><br><br><br>
</td>
</tr>




<tr>
<td style="vertical-align: top;">
    <a href="/proyectos/miembros/">
        <img style="width: 64px; height: 64px;" alt="" src="{{STATIC_URL}}images/Comite.png"><br><br>
    </a>

</td>
<td style="vertical-align: top;">
    <a href="/solicitudCambio/Votaciones/">
        <img style="width: 64px; height: 64px;" alt="" src="{{STATIC_URL}}images/Cambio.png"><br><br>
    </a>

</td>
<td style="vertical-align: top;">
    <a href="/cerrar/">
        <img style="width: 64px; height: 64px;" alt="" src="{{STATIC_URL}}images/CerraSesion.png"><br><br>
    </a>

</td>
</tr>
<tr>
<td style="vertical-align: top;">Comite<br><br><br><br>
</td>
<td style="vertical-align: top;">Solicitudes de Cambio<br><br><br><br>
</td>
<td style="vertical-align: top;">Cerrar Sesión<br><br><br><br>
</td>
</tr>



</tbody>
</table>

{% endblock %}