{% extends "base.html" %}

{% block title %}
Bienvenido
{% endblock %}


{% block menu1 %}
		<li><a href="/proyectos/admin/">Proyectos</a></li>
        <li><a href="/fases/admin/">Fases</a></li>
		<li><a href="/items/admin">Desarrollo</a></li>
		<li><a href="#">Gestión de Cambios</a></li>
        <li><a href="#">Usuarios</a></li>

{% endblock %}

{% block menu2 %}


{% endblock %}


{% block contenido %}
    <h1>Por seguridad ingrese siguientes datos</h1>
        <form method="post">{% csrf_token %}
            {{form.as_p}}
        <input type="submit" value="Actualizar">
    </form>


{% endblock %}