{% extends "base.html" %}
{% block title %}
      Versionado
{% endblock %}

{% block menu1 %}

{% endblock %}

{% block menu2 %}


{% endblock %}

{% block contenido %}
<select onchange="inicio(this.value);">
    <option>Seleccione el Filtro</option>
    <option value="creado">No iniciados</option>
    <option value="activo">Activos</option>
    <option value="eliminado">Eliminados</option>
</select>
<div id="datos">

</div>
<input type="submit" value="Reversionar">
{% endblock %}

{% block js %}
<script>
    function inicio(valor){
        $.ajax({
          data : {'estado' : valor},
          url : '/proyectos/listar_ajax/',
          type : 'get',
          success : function(data){
            var html="";
                if(valor=='creado'){
                    html+="<h1>MIERDA</h1>";
                }
            html+="</tbody></table><br>";
            $('#datos').html(html);
          }
        });
    }

</script>
{% endblock %}

