{% extends "base.html" %}
{% block title %}
      Reportes
{% endblock %}

{% block menu1 %}

{% endblock %}

{% block menu2 %}

{% endblock %}

{% block contenido %}
    <H1>Proyectos </H1>
        <table id='tablaDatos' border='0' cellpadding='0' cellspacing='0'> <tbody>
        <tr>
                <td class='title' style='background-color:rgba(26, 108, 122, 1); font-size: 18px; font-weight: bold ; color: #FFF;text-align: center;'>Nombre</td>
                <td class='title' style='background-color:rgba(26, 108, 122, 1); font-size: 18px; font-weight: bold ; color: #FFF;text-align: center;'>Solicitudes</td>
                <td class='title' style='background-color:rgba(26, 108, 122, 1); font-size: 18px; font-weight: bold ; color: #FFF;text-align: center;'>Items</td>
        </tr>
        {% for p in proyectos%}
            <tr>
                <td>{{p.nombre}}</td>
                <td>
                    <center><a href="/reportes/proyecto/{{p.id}}"><img src='/static/images/reporte.png' width='32' height='32'></a></center>
                </td>
                <td>
                    <center><a href="/reportes/items/{{p.id}}"><img src='/static/images/reporte.png' width='32' height='32'></a></center>
                </td>
            </tr>
        {% endfor %}
        </tbody></table>
        <br>
 {% endblock %}