body {
	margin: 0px;
	padding: 0px;
	background: url(/static/images/img02.jpg) repeat-x left top;
	line-height: 20px;
	text-align: justify;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #777;
}
ul.errorlist{
    color:#B4020E;
}
span.helptext{
    display:block;
}
input{
    display:block;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

a {
	color: #0077dd;
}

a:hover {
	text-decoration: none;
}

select{
    background-image:url(/static/images/fondoBoton.jpeg);
    padding:8px;
    border:solid 1px #DEDEDE;
    border-radius:5px;
    display:block;
    }
select:focus {
    box-shadow:0 0 15px #036;
    background-image:url(/static/images/fondoBoton.jpeg);
    }
option {
    background:#c8e0ec;
}



#tablaDatos {
	text-align: center;
	width: 100%;
	font-size: 16px;

}
#tablaDatos th, #tablaDatos td, #tablaDatos2 th, #tablaDatos2 td{
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #fff;
   border-collapse: 1px;
   padding: 0.3em;
   background-image:url(/static/images/fondoBoton.jpeg);
}
#tablaDatos td.title {
   background-image:url(/static/images/fondoBoton4.jpeg);
}

#tablaDatos td, #tablaDatos2 td{
   background-image:url(/static/images/fondoBoton2.jpeg);
}

#tablaDatos2 {
	text-align: center;
	width: 100%;
	font-size: 16px;

}



.list1 {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list1 a {
	background: url(/static/images/img01.gif) no-repeat left 60%;
	padding-left: 12px;
}

.list2 {
	margin: 0;
	list-style: none;
}

.list2 a {
	background: url(/static/images/img01.gif) no-repeat left 60%;
	padding-left: 12px;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 3px 20px 0px 0px;
}

/** HEADER */

#header {
	width: 778px;
	margin: 0px auto;
	padding: 1em;
	height: 90px;
	color: #254360;
}

#header h1 {
	margin: 0px;
	padding: 20px 0px 0px 0px;
	text-transform: uppercase;
	font-weight: bold;
}

#header h2 {
	margin: 0 0 0 -80px;
	padding: 0px 0px 0px 95px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}

/** MENU */

#menu {
	width: 778px;
	margin: 0px auto;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	background: url(/static/images/img04.gif) no-repeat right 50%;
	padding: 0px 5px 0px 5px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	color: #FFFFFF;
}

#menu a:hover {
	background: #FFFFFF;
	color: #254360;
}

#menu .active {
	background: #FFFFFF;
	color: #254360;
}

/** CONTENT */

#content {
	width: 778px;
	margin: 0px auto;
	padding: 40px 0px 20px 0px;
}

#columnA {
	float: right;
	width: 538px;
	padding-left: 20px;
	border-left: 1px dashed #EEEEEE;
}

#columnA h2 {
	height: 22px;
	border-bottom: 1px dashed #EEEEEE;
	font-size: 12pt;
	font-weight: bold;
}

#columnB {
	float: left;
	width: 200px;
}

#columnB h3 {
	height: 22px;
	border-bottom: 1px dashed #EEEEEE;
	border-spacing: 2px;
	font-size: 11pt;
	font-weight: bold;
}

#columnB a:visited, a:link{
    font-size: 15px;
    text-decoration: none;
    color:#158B89;
    }
#columnB A:hover {
    font-size: 17px;
    text-decoration: none;
    }

/** FOOTER */

#footer {
	clear: both;
	margin: 0px auto;
	height: 59px;
	background: url(/static/images/img03.gif) repeat-x left top;
	text-align: center;
}

#footer p {
	margin: 0px;
	padding: 18px 0px 0px 0px;
	font-size: 10px;
	color: #FFFFFF;
}

#footer a {
	color: #CCCCCC;
}

#formDiv label {
    color:103E3D;
    font-size: 1.2em;
    margin-right: 10px;
    margin-top: 15px;
    width: 100px;
    text-align: right;
    }

#formDiv input {
    background-image:url(/static/images/fondoBoton.jpeg);
    padding:8px;
    border:solid 1px #DEDEDE;
    border-radius:5px;
    }
#formDiv input:focus {
    box-shadow:0 0 15px #036;
    background-image:url(/static/images/fondoBoton3.jpeg);
    }
#formDiv a:visited, a:link{
    font-size: 15px;
    text-decoration: none;
    color:#158B89;
    }
#formDiv A:hover {
    font-size: 18px;
    text-decoration: none;
    }
