{% extends "base.html" %}
{% block title %}
      Actualizar Comite
{% endblock %}

{% block menu1 %}
{% endblock %}

{% block menu2 %}
        <img src='/static/images/Detalles.png' width='24' height='24'><a href="/comite/listar/">  Listar Comites</a><br><br>
        <br><br>


{% endblock %}

{% block contenido %}
      <h1>Actualizar Comites</h1>
        <form method="post">{% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Actualizar">
        </form>
{% endblock %}l>