{% extends "base.html" %}
{% block title %}
      Lista de Items
{% endblock %}

{% block menu1 %}

{% endblock %}

{% block menu2 %}
<img src='/static/images/Proyecto.png' width='24' height='24'><a href="{{url}}">  Seguir Administrando</a><br><br>
<img src='/static/images/lineaBase.png' width='24' height='24'><a href="/lineasBase/listar/{{lineaBase.fase.proyecto.pk}}">  Listar Lineas Base</a><br><br>
{% endblock %}

{% block contenido %}
     <h1>Lista de Items de la linea Base</h1>
     <br><br>
     {% for i in detalles %}
          <li>{{i.item.nombre}}</li>
     {% endfor %}<br>
{% endblock %}