<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{{STATIC_URL}}css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
<table style="text-align: left; width: 100%; background-color: white;"
border="0" cellpadding="0" cellspacing="0">
<tbody>
<tr>
<td
style="vertical-align: middle; width: 161px; text-align: center;"><img
style="width: 139px; height: 71px;" alt=""
src="{{STATIC_URL}}images/Logo.png" /><br />
</td>
<td style="vertical-align: top; width: 597px;">
<h1>Ingeniería de Software II<br />
</h1>
<h2>by Equipo R03 </h2>
</td>
</tr>
</tbody>
</table>
<br />
</div>
    <div id="menu">
        <ul><li><a href="/inicio/">Home</a></li>
            {% block menu1 %}{% endblock %}
            <li><a href="/cerrar/">Cerrar</a></li>
        </ul>
    </div>
    <div id="content">
        <div id="columnA">
            <div id="formDiv">
        <!--
            Columna de contenido
        -->
            {% block contenido %}{% endblock %}
        </div>
        </div>
        <div id="columnB">
        <!--
            Columna de Menu Lateral
        -->
            {% block menu2 %}{% endblock %}
        </div>
    </div>
<div id="footer">
        <p>Proyecto de Ingeniería de Software 2 - Ing. en Informática - 2014</p>
</div>
<div align=center>Facultad Politécnica - Universidad Nacional de Asunción</a></div></body>
</html>