{% extends "base.html" %}
{% block title %}
     Grafico
{% endblock %}

{% block menu2 %}
<img src='/static/images/Proyecto.png' width='24' height='24'><a href="/proyectos/detalles/{{idProyecto}}">  Seguir Administrando</a><br><br>
<img src='/static/images/relacion.png' width='24' height='24'><a href="/items/relaciones/listar/{{idProyecto}}">  Ver Relaciones </a><br><br>
<img src='/static/images/lineaBase.png' width='24' height='24'><a href="/lineasBase/listar/{{idProyecto}}">  Listar Lineas Base</a><br><br>

{% endblock %}



{% block contenido %}
   <h1>{{proyecto}}</h1>
   <img src="{{MEDIA_URL}}{{archivo}}.png">
{% endblock %}