{% extends "base.html" %}
{% block title %}
      Nuevo Permiso
{% endblock %}

{% block menu1 %}

{% endblock %}



{% block menu2 %}
        <img src='/static/images/Detalles.png' width='24' height='24'><a href="/permisos/listar/">  Permisos de Usuarios</a><br><br>
        <img src='/static/images/Detalles.png' width='24' height='24'><a href="/permisos/listarGrupos/">  Permisos de Grupos</a><br><br>
		<img src='/static/images/Add.png' width='24' height='24'><a href="/permisos/crear/">  Nuevo Permiso</a><br><br>
        <br><br>
{% endblock %}

{% block contenido %}
      <h1>Asignar Nuevo Permiso</h1>
        <form method="post">{% csrf_token %}
            <br><select name="usuario">
                <option value="0"> Seleccione el usuarios </option>
                {% for u in usuarios %}
                    <option value="{{u.id}}">{{u.username}}</option>
                {% endfor %}
            </select>
            <br><select name="grupo">
                <option value="0"> Seleccione el grupo </option>
                {% for g in grupos %}
                    <option value="{{g.id}}">{{g.name}}</option>
                {% endfor %}
            </select>
            <br><select name="permiso">
                <option value="ADMINLIDER"> Lider de Proyectos </option>
                <option value="ADMINDEL"> Eliminar Permisos Administrativos </option>
                <option value="ADMINVER"> Ver Permisos Administrativos </option>
                <option value="ADMINADD"> Agregar Permisos Administrativos </option>
            </select>
            <font color="red">{{msj}}</font>
            <br><input type="submit" value="Crear">
        </form>
{% endblock %}