{% extends "base.html" %}
{% block title %}
     Permisos sobre Proyecto
{% endblock %}

{% block menu1 %}

{% endblock %}

{% block menu2 %}

{% endblock %}

{% block contenido %}
<h1>Permisos sobre proyecto {{proyecto.nombre}}</h1>
<form id="formulario" method="post">{% csrf_token %}
<input type="hidden" value="{{idProyecto}}" name="idProyecto">
<select onchange="inicio(this.value);" name='usuario'>
    <option>Seleccione el Usuario</option>
    {% for u in usuarios %}
        <option name='usuario' value="{{u.miembro.id}}">{{u.miembro}}</option>
    {% endfor %}
</select>
<div id="datos"><br>
    <input type="checkbox" name="permisos" value="CLB" id="CLB"> Crear Linea Base <br><br>
    <input type="checkbox" name="permisos" value="LLB" id="LLB"> Listar Linea Base <br><br>
    <input type="checkbox" name="permisos" value="REVI" id="REVI"> Revivir Items <br><br>
    <input type="checkbox" name="permisos" value="VERR" id="VERR"> Ver Relaciones <br><br>
    <input type="checkbox" name="permisos" value="GRAF" id="GRAF"> Graficar <br><br>
    <input type="checkbox" name="permisos" value="MODF" id="MODF"> Editar Fases <br><br>
    <input type="checkbox" name="permisos" value="FINF" id="FINF"> Finalizar Fase <br><br>
    <input type="checkbox" name="permisos" value="ADDI" id="ADDI"> Agregar Items <br><br>
    <input type="checkbox" name="permisos" value="FINI" id="FINI"> Finalizar Items <br><br>
    <input type="checkbox" name="permisos" value="DELI" id="DELI"> Eliminar Items <br><br>
    <input type="checkbox" name="permisos" value="MODI" id="MODI"> Editar Items <br><br>
    <input type="submit" value="Asignar">
</div>
</form>
{% endblock %}

{% block js %}
<script>
    function inicio(valor){
        palabras=document.URL.split("/");
        idItem=palabras[palabras.length-1];
        $.ajax({
          data : {'estado' : valor, 'id':idItem},
          url : '/permisos/proyectos_ajax/',
          type : 'get',
          success : function(data){
            document.getElementById('CLB').checked=false;
            document.getElementById('LLB').checked=false;
            document.getElementById('REVI').checked=false;
            document.getElementById('VERR').checked=false;
            document.getElementById('GRAF').checked=false;
            document.getElementById('ADDI').checked=false;
            document.getElementById('FINF').checked=false;
            document.getElementById('MODI').checked=false;
            document.getElementById('MODF').checked=false;
            document.getElementById('FINI').checked=false;
            document.getElementById('DELI').checked=false;
            for(i=0;i<data.length;i++){
                switch (data[i].fields.permiso){
                    case 'CLB':
                        document.getElementById('CLB').checked=true;
                        break;
                    case 'LLB':
                        document.getElementById('LLB').checked=true;
                        break;
                    case 'REVI':
                        document.getElementById('REVI').checked=true;
                        break;
                    case 'VERR':
                        document.getElementById('VERR').checked=true;
                        break;
                    case 'GRAF':
                        document.getElementById('GRAF').checked=true;
                        break;
                    case 'ADDI':
                        document.getElementById('ADDI').checked=true;
                        break;
                    case 'FINF':
                        document.getElementById('FINF').checked=true;
                        break;
                    case 'MODI':
                        document.getElementById('MODI').checked=true;
                        break;
                    case 'MODF':
                        document.getElementById('MODF').checked=true;
                        break;
                    case 'FINI':
                        document.getElementById('FINI').checked=true;
                        break;
                    case 'DELI':
                        document.getElementById('DELI').checked=true;
                        break;
                }
            }
          }
        });
    }

</script>
{% endblock %}

