{% extends "base.html" %}
{% block title %}
      Administración de Items
{% endblock %}

{% block menu1 %}

{% endblock %}



{% block menu2 %}

     <img src='/static/images/Detalles.png' width='24' height='24'><a href="/items/listar/">  Listar Items</a><br><br>
	 <img src='/static/images/Add.png' width='24' height='24'><a href="/items/crear/">  Nuevo Item</a><br><br>
     <img src='/static/images/Delete.png' width='24' height='24'><a href="/items/listar_eliminados/"> Items Eliminados </a><br><br>

     <br><br>

{% endblock %}