{% extends "base.html" %}
{% block title %}
      Crear Item
{% endblock %}

{% block menu1 %}

{% endblock %}

{% block menu2 %}

{% endblock %}

{% block contenido %}
     <h1>Nuevo Item</h1>
        <form method="post">{% csrf_token %}
            <p><label for="id_nombre">Nombre:</label> <input id="id_nombre" maxlength="100" name="nombre" type="text"></p>
            <p><label for="id_complejidad">Complejidad:</label> <input id="id_complejidad" name="complejidad" type="number"></p>
            <p><label for="id_costo">Costo:</label> <input id="id_costo" name="costo" type="number"></p>
            <p>
                <label for="id_padre">Padre:</label>
                <select id="id_padre" name="padre">
                    <option value="0">Seleccione un padre</option>
                    {% for i in listaItems %}
                        <option value="{{i.id}}">{{i.fase.nombre}} --> {{i.nombre}}</option>
                    {% endfor %}
                </select>
            </p>
            <input value="Crear" type="submit">
        </form>
 {% endblock %}