{% extends "base.html" %}
{% block title %}
      Crear Item
{% endblock %}

{% block menu1 %}

{% endblock %}

{% block menu2 %}
     <ul>
        <img src='/static/images/Detalles.png' width='24' height='24'><a href="/items/listar/">  Listar Items</a><br><br>
         <img src='/static/images/Delete.png' width='24' height='24'><a href="/items/listar_eliminados/"> Items Eliminados </a><br><br>
     </ul>

{% endblock %}

{% block contenido %}
     <h1>Nuevo Item</h1>
        <form method="post">{% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Crear">
        </form>
 {% endblock %}