{% extends "base.html" %}
{% block title %}
      Lista de Versiones
{% endblock %}

{% block menu1 %}

{% endblock %}

{% block menu2 %}
        <!--<img src='/static/images/Detalles.png' width='24' height='24'><a href="/proyectos/listar/">  Listar Proyectos</a><br><br>-->
		<!--<img src='/static/images/Add.png' width='24' height='24'><a href="/proyectos/crear/">  Nuevo Proyecto</a><br><br>-->
        <br><br>

{% endblock %}

{% block contenido %}
        <h1>Filtro</h1>
            <select onchange="inicio(this.value);">
                <option>Seleccione el Filtro</option>
                    {% for i in items %}
                        <option value="{{i.id}}">{{i.nombre}}</option>
                    {% endfor %}
            </select><br><br>
<div id="datos">

</div>
{% endblock %}

{% block js %}
<script>
    function inicio(valor){
	console.log(valor);
        $.ajax({
          data : {'iditems' : valor},
          url : '/items/listar_ajax/',
          type : 'get',
          success : function(data){
            var html="";
                if(valor==1){
                    html+="<h1>MIERDA</h1>";
                }
          }
        });
    }

</script>
{% endblock %}

