{% extends "base.html" %}
{% block title %}
      Lista de Items Eliminados
{% endblock %}

{% block menu1 %}

{% endblock %}

{% block menu2 %}
     <ul>
		<img src='/static/images/Add.png' width='24' height='24'><a href="/items/crear/">  Nuevo Item</a><br><br>
     </ul>

{% endblock %}

{% block contenido %}
     <h1>Lista de Items Eliminados</h1>
      {% for i in items %}
          {% if i.estado == 'eliminado' %}
                <h2>{{i.nombre}}</h2>
                <ul>
                    <li><b>Estado</b> {{i.estado}}</li>
                    <li><b>Complejidad</b> {{i.complejidad}}</li>
                    <li><b>Version Actual</b> {{i.versionAct}}</li>
                    <a href="/items/restaurar/{{i.id}}">Restaurar</a>
                </ul>
                <br><br>
          {% endif %}
      {% endfor %}
{% endblock %}