{% extends "base.html" %}
{% block title %}
      Detalles de Item
{% endblock %}


{% block menu1 %}

{% endblock %}


{% block menu2 %}
        {% if tieneHijos = False %}
        <img src='/static/images/relacion.png' width='24' height='24'><a id='relacion'>  Crear Padre </a><br><br>
        {% endif %}
        {% if item.estado != "finalizado" %}
        <img src='/static/images/atributo.png' width='24' height='24'><a id='atributo'>  Nuevo Atributo</a><br><br>
        <img src='/static/images/versiones.png' width='24' height='24'><a id='version' href="/items/atributos/listarVersiones/{{item.id}}">  Ver otras versiones</a><br><br>
        <img src='/static/images/reversionar.png' width='24' height='24'><a id='reversion' href="/items/reversionar/{{item.id}}">  Reversionar </a><br><br>
        <script type="text/javascript">
            var elemento = document.getElementById("relacion");
            palabras=document.URL.split("/");
            idItem=palabras[palabras.length-1];
            if(elemento){
                elemento.href = "/items/relaciones/listarParaCrear/" + idItem;
            }
            atributo.href = "/items/atributos/agregar/" + idItem;
        </script>
        {% else %}
        <img src='/static/images/solicitud.png' width='24' height='24'><a href="/solicitudCambio/crear/{{item.id}}">  Solicitar Cambio </a><br><br>
        {% endif %}
{% endblock %}

{% block contenido %}
<h1>{{item.nombre}}</h1>
<h2>Version Actual</h2> {{item.versionAct}}
<h2>Proyecto</h2>{{item.fase.proyecto}}
<h2>Fase</h2> {{item.fase.nombre}}
<h2>Costo</h2> {{item.costo}}<br><br>
<h2>Atributos</h2>
<table id="tablaDatos"><tbody>
    {% for a in atributos %}
        <tr>
            <td>{{a.nombre}}</td>
            <th>{{a.descripcion}}</th>
             <th><a href="/items/atributos/modificar/{{a.pk}}"><img src='/static/images/Edit.png' width='32' height='32'></a>
            <a href="/items/atributos/eliminar/{{a.pk}}"><img src='/static/images/Delete.png' width='32' height='32'></a></th>
        </tr>
    {% endfor %}
</tbody></table>
<br>
{% endblock %}