{% extends "base.html" %}
{% block title %}
      Reversiones
{% endblock %}


{% block menu1 %}

{% endblock %}


{% block menu2 %}
        {% if item.estado == "revision" %}
            <center>
                <img style="width: 35px; height: 35px;" alt="" src="{{STATIC_URL}}images/alerta.png"><br>
                <font color="red"> <B id="alertaSolicitud">Este item esta bajo revision</B></font>
            </center><br>
        {% endif %}
        <img src='/static/images/item.png' width='24' height='24'><a href="/items/atributos/listar/{{item.id}}" id='ultima'>  Ultima Version</a><br><br>
{% endblock %}

{% block contenido %}
<form method="post" action="/items/reversionar/">{% csrf_token %}
    <h1>Versiones</h1>
    <input type="hidden" value="{{item.id}}" name="idItem">
    <select name="version">
    {% for n in range %}
        <option value="{{n}}">Version {{n}}</option>
    {% endfor %}
    </select><br>
    <input type="submit" value="Reversionar">
</form>
<br>
{% endblock %}