{% extends "base.html" %}
{% block title %}
      Actualizar Items
{% endblock %}

{% block menu1 %}
{% endblock %}

{% block menu2 %}
        <img src='/static/images/relacion.png' width='24' height='24'><a id='relacion'>  Nueva Relación</a><br><br>
         <script type="text/javascript">
            var elemento = document.getElementById("relacion");
            palabras=document.URL.split("/");
            idItem=palabras[palabras.length-1];
            elemento.href = "/items/relaciones/listar/" + idItem;
        </script>
{% endblock %}

{% block contenido %}
      <h1>Actualizar Items</h1>
        <form method="post">{% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Actualizar">
        </form>
{% endblock %}