{% extends "base.html" %}
{% block title %}
      Finalizar Fase
{% endblock %}

{% block menu1 %}

{% endblock %}

{% block menu2 %}
        <img src='/static/images/Detalles.png' width='24' height='24'><a href="/fases/listar/"> Listar Fases</a><br><br>
        <br><br>

{% endblock %}

{% block contenido %}
      <h1>Esta seguro que desea Finalizar la fase?</h1>
        <form method="post">{% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Confirmar">
        </form>
{% endblock %}