{% extends "base.html" %}
{% block title %}
      Lista de Fases Finalizadas
{% endblock %}

{% block menu1 %}

{% endblock %}

{% block menu2 %}


{% endblock %}

{% block contenido %}
     <h1>Lista de Fases Finalizadas</h1>
      {% for f in fases %}
          {% if f.estado == 'finalizada' %}
            <h2>{{f.nombre}}</h2>
            <ul>
                <li><b>Fecha de InicioP: </b>{{f.fechaInicioP}}</li>
                <li><b>Fecha de InicioR: </b>{{f.fechaInicioR}}</li>
                <li><b>Estado:</b> {{f.estado}}</li>
                <li><b>Proyecto:</b> {{f.proyecto}}</li>
                <li><b>Presupuesto: </b>{{f.presupuesto}}</li>
            </ul>
            <br><br>
          {% endif %}
      {% endfor %}
{% endblock %}