{% extends "base.html" %}
{% block title %}
      Lista de Fases
{% endblock %}

{% block menu1 %}

{% endblock %}

{% block menu2 %}
     <ul>
        <img src='/static/images/Detalles.png' width='24' height='24'><a href="/fases/listar/">  Listar Fases</a><br><br>
     </ul>

{% endblock %}

{% block contenido %}
     <h1>Lista de fases</h1>
        {% for f in fases %}
            <h2>{{f.nombre}}</h2>
            <ul>
                <li><b>Fecha de InicioP: </b>{{f.fechaInicioP}}</li>
                <li><b>Fecha de InicioR: </b>{{f.fechaInicioR}}</li>
                <li><b>Estado:</b> {{f.estado}}</li>
                <li><b>Proyecto:</b> {{f.proyecto}}</li>
                <li><b>Presupuesto: </b>{{f.presupuesto}}</li>
            <a href='/fases/modificar/{{f.id}}'><img src='/static/images/Edit.png' width='24' height='24'></a>
            <a href='/fases/eliminar/{{f.id}}'><img src='/static/images/Delete.png' width='24' height='24'></a>
            </ul>
            <br><br>

        {% endfor %}
 {% endblock %}

